@import url(./assets/fontiran.css); /* لینک فایلی که وظیفه بارگذاری فونت‌ها را برعهده دارد */
body {
  font-family: KalamehWebFaNum !important;

  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: KalamehWebFaNum !important;
}

.wrapper {
  max-width: 900px;
  margin: 20px auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 10px #aaa;
}

.box100 p,
.box200 p,
.box300 p,
.box400 p,
.box500 p,
.box600 p,
.box700 p,
.box800 p,
.box900 p {
  font-size: 20px;
  margin: 0;
}

.box100,
.box100 h1,
.box200,
.box200 h1,
.box300,
.box300 h1,
.box400,
.box400 h1,
.box500,
.box500 h1,
.box600,
.box600 h1,
.box700,
.box700 h1,
.box800,
.box800 h1,
.box900,
.box900 h1 {
  margin: 30px 0 0 0;
  font-size: 25px;
}

.box100,
.box100 h1 {
  font-weight: 100;
}

.box200,
.box200 h1 {
  font-weight: 200;
}

.box300,
.box300 h1 {
  font-weight: 300;
}

.box400,
.box400 h1 {
  font-weight: 400;
}

.box500,
.box500 h1 {
  font-weight: 500;
}

.box600,
.box600 h1 {
  font-weight: 600;
}

.box700,
.box700 h1 {
  font-weight: 700;
}

.box800,
.box800 h1 {
  font-weight: 800;
}

.box900,
.box900 h1 {
  font-weight: 900;
}
/* Swiper Navigation Buttons */
.swiper-button-next,
.swiper-button-prev {
  color: white !important; /* Force the color to white */
}

/* Tailwind CSS classes */
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px; /* Adjust the gap as needed */
  padding: 16px; /* Adjust the padding as needed */
}

/* Ensure the container has a max width and is centered */
.container {
  max-width: 1200px; /* Adjust the max width as needed */
  margin: 0 auto;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
